<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaPet.Properties.Settings.db_sistemapetConnectionString"
            connectionString="Data Source=DESKTOP-R0KT8UE\RAFAELMOW;Initial Catalog=db_sistemapet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaPet.Properties.Settings.db_sistemapetConnectionString1"
            connectionString="Data Source=DESKTOP-9TK1QN1\SYSPETAPP;Initial Catalog=db_sistemapet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>